<div class="container">

  <h2>LEVANTAMIENTO DE REPORTE DE SERVICIO</h2>
  <form>
      
        <input type="text" size="70" placeholder="Buscar Cliente"class ="form-control" id="bc">        
        <br>
        <br>
        <h5 class="acordeon">+ NUEVO</h5>
        <div class="panel">
          <input type="text" size="70" placeholder="Nombre del cliente" class="form-control" id="nombre_cliente" >
          <input type="text" size="70" placeholder="Contacto" class="form-control" id="contacto_cliente" >
          <input type="text" size="70" placeholder="Telefono" class="form-control" id="telefono_cliente" >
          <input type="text" size="70" placeholder="Direccion" class="form-control" id="direccion_cliente" >
          
        </div>
        <input type="date" placeholder="Fecha" size="70" class = "form-control" id="tel" >
        <button type="submit" class="btn btn-success">ACEPTAR</button>
  </form>
</div>